/*
colour theme - beachy
#96ceb4  green
#ffeead  cream
#ff6f69  red
#ffcc5c  orange
#88d8b0  slghtly darker green
*/

html,body {
	height: 100%;
	width: 100%;
	padding: 0;
	text-align: center;
}
canvas {
	width: 100%;
	height: 90%;
	border: 5px solid black;
	text-align: center;
}
img {
	width: 40%;
	height: 85%;
	text-align: center;
	margin: 10px;
	/*padding: 0px 30px;*/

/*	padding: 10px 30px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;*/
}
button {
	width: 100%;
	table-layout: fixed;

	margin: 40px 20px;
	background-color: #ff6f69; 
	color: white;
	border: none;
	padding: 10px 40px;
	text-align: center;
	font-size: 16px;


	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 16px;
}

button:hover,button:active,button:target{
	background-color: #fec8c1;
	border-color: white !important;
	border-bottom-color: white !important;
	border-left-color: white !important;
	border-right-color:white !important;
	border-top-color:white !important;
}


.jumbotron.text-center.text-black{
	height: 20vh;
	background-color: #88d8b0;
}

#head-1-text{
	font-size:10vw !important;
}
#head-2-text{
	font-size:4vw !important;
}




.btn.btn-primary {
    color: #fff;
    background-color: white;
    border-color: white;
	border-left-color: white;
	border-right-color:white;
	border-top-color:white;
}
.btn.btn-primary:hover {
    color: #fff;
    background-color: white !important;
    border-color: white;
	border-bottom-color: white;
	border-left-color: white;
	border-right-color:white;
	border-top-color:white;
}
.btn.btn-primary:target {
    color: #fff;
    background-color: white !important;
    border-color: white;
	border-bottom-color: white;
	border-left-color: white;
	border-right-color:white;
	border-top-color:white;
}

.btn.btn-primary:active {
    color: #fff;
    background-color: white !important;
    border-color: white !important;
	border-bottom-color: white !important;
	border-left-color: white !important;
	border-right-color:white !important;
	border-top-color:white !important;

}
